<header class="row align-items-center">
    <div class="col-1">
        <a href="javascript:void(0)" id="btn-sidebar-menu">
            <img src="../assets/icons/menu.png" alt="menu" class="i-menu">
        </a>
    </div>

    <div class="col-2">

        <a href="index.html" class="logo">
            <img src="../assets/logo/logo_Mesa de trabajo 1.png" alt="logo.png">
        </a>
    </div>

    <div class="col-8 row text-center">
        <a class="col" [routerLink]="['/home']">HOME</a>
        <a class="col" [routerLink]="['/about']">NOSOTROS</a>
        <a class="col" [routerLink]="['/contacto']">CONTACTO</a>
    </div>
    <div class="col-1 justify-content-end ">
        <a href=""><img src="../assets/icons/user.png " class="i-user icono "></a>
        <a href=""><img src="../assets/icons/carrito1.png " class="i-carrito icono "></a>
    </div>
</header>

<div>
    <router-outlet></router-outlet>
</div>

<footer class="bg-dark text-white ">

    <div class="row text-center justify-content-evenly ">
        <div class="col ">
            <h3>Ayuda</h3>
            <div>
                <a href=" ">FAQs</a>
            </div>
            <div>
                <a href=" ">Contacto</a>
            </div>
        </div>

        <div class="col ">
            <h3>Servicios</h3>
            <div>
                <a href=" ">Consegui actualizaciones</a>
            </div>
            <div>
                <a href=" ">Productos</a>
            </div>
        </div>

        <div class="col ">
            <h3>Nosotros</h3>
            <div class="contenido-nosotros ">

                <a href=" ">Equipo</a>
                <div class="row ">

                    <p class=" ">Follow us</p>
                    <div>
                        <a href=" ">
                            <img class="facebook " src="../assets/icons/instagram.png " alt="instagram.png " class="i-instagram icono ">
                        </a>
                        <a href=" ">
                            <img class="fab " src="../assets/icons/facebook.png " alt="facebook.png " class="i-facebook icono ">
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container ">
        <div class="row ">

            <div class="col-3 ">
                <img src="../assets/logo/logo_Mesa de trabajo 1.png " alt="logo.png ">
            </div>

            <div class="col text-center p-3 ">
                <div class="row container-terminos ">

                    <div class="col ">
                        <a href=" ">Terminos y condiciones</a>
                    </div>
                    <div class="col ">
                        <a href=" ">Politicas de privacidad</a>
                    </div>
                    <div class="col ">
                        <a href=" ">Licencia</a>
                    </div>

                </div>
            </div>

        </div>

        <div class=" p-3 ">
            <p class="text-center ">Copyrigth © RocketGames 2022 . Rocket Corpotarion</p>
            <div class="row ">
                <p class="col text-end ">Powered by &nbsp</p>
                <div class="col justify-content-end ">
                    <a href=" ">Grupo 17</a>
                </div>

            </div>
        </div>
    </div>

</footer>