<div class="d-flex flex-row flex-wrap container-cards">
    <div *ngFor="let game of games" [ngClass]="{destacado:game.destacado}" class="card text-bg-dark container-card justify-content-center align-items-center">

        <img class="card-img" [src]="game.imagen" [alt]="game.nombre">


        <div class="card-img-overlay d-flex flex-column justify-content-between align-items-center text-center">
            <div>
                <h5 class="card-title ">{{game.nombre}}</h5>

                <p class="card-text" *ngIf="game.destacado">
                    <span class="badge text-bg-warning color-white">
                            Lanzamiento
                        </span>
                </p>

            </div>

            <div>
                <p class="card-text ">
                    <span class="badge rounded-pill text-bg-secondary">
                        {{game.tipo}}
                    </span>
                </p>


                <p class="card-text" *ngIf="game.agregado">
                    <span class="badge text-bg-info color-white">
                          ADQUIRIDO
                      </span>
                </p>
                <div *ngIf="game.stock">
                    <p style="margin:0 20%; " class="d-flex justify-content-center bg-secondary rounded ">{{game.precio | currency}}</p>

                    <button (click)="addToCart(game) " class="btn btn-primary " *ngIf="!game.agregado ">
                    Agregar al carrito
                  </button>

                    <div *ngIf="game.agregado ">

                        <app-input-integer [(cantidad)]="game.cantidad" [max]="game.stock " (maxReached)="maxReached($event)"></app-input-integer>

                        <button (click)="addToCart(game) " class="btn btn-primary ">Regale a sus amigos</button>

                        <button (click)="removeToCart(game) " class="btn btn-danger ">Quitar de carrito</button>
                    </div>

                </div>
                <div *ngIf="!game.stock ">
                    <p class="badge text-bg-danger color-white ">SIN STOCK</p>
                    <div *ngIf="game.agregado "></div>
                    <button (click)="removeToCart(game) " class="btn btn-danger ">Quitar de carrito</button>

                </div>




            </div>
        </div>
    </div>
</div>
