<div class="d-flex flex-row flex-wrap container-cards">
    <div class="card text-bg-dark container-card justify-content-center align-items-center" *ngFor="let game of games" [ngClass]="{destacado:game.destacado}">

        <img class="card-img" [src]="game.imagen" [alt]="game.nombre">

        <div class="card-img-overlay d-flex flex-column justify-content-between align-items-center text-center">
            <div>
                <p class="card-text ">
                    <span class="badge rounded-pill text-bg-secondary">
                        {{game.tipo}}
                    </span>
                </p>
                <h5 class="card-title ">{{game.nombre}}</h5>

                <p class="card-text" *ngIf="game.destacado">
                    <span class="badge text-bg-danger color-white">
                            Lanzamiento
                        </span>
                </p>
            </div>

            <div>

                <div class="d-flex justify-content-center">
                    <button class="btn btn-primary" (click)="downCantidad(game)">-</button>
                    <input style="width: 15%;" class=" card-text text-center" type="text" [(ngModel)]="game.cantidad">
                    <button class="btn btn-primary" (click)="upCantidad(game)">+</button>
                </div>
                <a href="# " class="btn btn-primary">Agregar al carrito</a>
            </div>
        </div>
    </div>
</div>