<carousel style="height: 35vh;" class="d-flex flex-row flex-wrap container-cards">
    <div class="carousel-cell card text-bg-dark container-card justify-content-center align-items-center" *ngFor="let game of games" [ngClass]="{destacado:game.destacado}">

        <img class="card-img" [src]="game.imagen" [alt]="game.nombre">

        <div class="card-img-overlay d-flex flex-column justify-content-between align-items-center text-center">
            <div>
                <p class="card-text ">
                    <span class="badge rounded-pill text-bg-secondary">
                        {{game.tipo}}
                    </span>
                </p>
                <h5 class="card-title ">{{game.nombre}}</h5>

                <p class="card-text" *ngIf="game.destacado">
                    <span class="badge text-bg-danger color-white">
                            Lanzamiento
                        </span>
                </p>
            </div>

            <div class="justify-content-center">

                <app-input-integer [(cantidad)]="game.cantidad" [max]="game.stock" *ngIf="game.stock "></app-input-integer>
                <button class="btn btn-primary" (click)="addToCart(game)">Agregar al carrito</button>
            </div>
        </div>
    </div>
</carousel>

<carousel style="height: 35vh;" class="d-flex flex-row flex-wrap container-cards">
    <div class="carousel-cell card text-bg-dark container-card justify-content-center align-items-center" *ngFor="let game of games" [ngClass]="{destacado:game.destacado}">

        <img class="card-img" [src]="game.imagen" [alt]="game.nombre">

        <div class="card-img-overlay d-flex flex-column justify-content-between align-items-center text-center">
            <div>
                <p class="card-text ">
                    <span class="badge rounded-pill text-bg-secondary">
                        {{game.tipo}}
                    </span>
                </p>
                <h5 class="card-title ">{{game.nombre}}</h5>

                <p class="card-text" *ngIf="game.destacado">
                    <span class="badge text-bg-danger color-white">
                            Lanzamiento
                        </span>
                </p>
            </div>

            <div class="justify-content-center">

                <app-input-integer [(cantidad)]="game.cantidad" [max]="game.stock" *ngIf="game.stock "></app-input-integer>
                <button class="btn btn-primary" (click)="addToCart(game)">Agregar al carrito</button>
            </div>
        </div>
    </div>
</carousel>
<carousel style="height: 35vh;" class="d-flex flex-row flex-wrap container-cards">
    <div class="carousel-cell card text-bg-dark container-card justify-content-center align-items-center" *ngFor="let game of games" [ngClass]="{destacado:game.destacado}">

        <img class="card-img" [src]="game.imagen" [alt]="game.nombre">

        <div class="card-img-overlay d-flex flex-column justify-content-between align-items-center text-center">
            <div>
                <p class="card-text ">
                    <span class="badge rounded-pill text-bg-secondary">
                        {{game.tipo}}
                    </span>
                </p>
                <h5 class="card-title ">{{game.nombre}}</h5>

                <p class="card-text" *ngIf="game.destacado">
                    <span class="badge text-bg-danger color-white">
                            Lanzamiento
                        </span>
                </p>
            </div>

            <div class="justify-content-center">

                <app-input-integer [(cantidad)]="game.cantidad" [max]="game.stock" *ngIf="game.stock "></app-input-integer>
                <button class="btn btn-primary" (click)="addToCart(game)">Agregar al carrito</button>
            </div>
        </div>
    </div>
</carousel>